.canvasContainer{
    background-color: gray;
    height:100vh;
    position: relative;
}

.canvasBackground {
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }
  
.canvasBackground img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover; /* or object-fit: contain; depending on your design preference */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.myCanvas{
    /* background-color: gray; */
    height:100vh;
    position: absolute;
    top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}